@media (max-width: 1700px) {
	.products-bottom {
		&__img {
			padding-left: 0;
		}
	}
}

@media (max-width: 1200px) {
	.menu {
		order: 1;
		&__btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 22px;
			padding: 0;
			border: none;
			background-color: transparent;
			position: relative;
			&::after,
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 3px;
				background-color: $title;
			}
			&::after {
				bottom: 0;
			}
			&::before {
				top: 0;
			}
			span {
				width: 100%;
				height: 3px;
				background-color: $title;
			}
		}
		&__list {
			transform: translateY(-200%);
			position: absolute;
			top: 120px;
			width: 100%;
			left: 0;
			flex-direction: column;
			align-items: center;
			z-index: 5;
			transition: all 0.3s;
			background-color: #fff;
			&.menu__list--active {
				transform: translateY(0%);
				transition: all 0.3s;
			}
		}
		&__list-item + .menu__list-item {
			padding-left: 15px;
			padding-bottom: 5px;
			margin-top: 5px;
		}
		&__list-item {
			width: 100%;
			padding: 0 15px;
			text-align: center;
			border-bottom: 1px solid $accent;
		}
		&__list-link {
			display: block;
			padding: 12px 0;
		}
	}
	.user-nav {
		margin-left: auto;
		margin-right: 25px;
	}
	.products {
		&__items {
			grid-template-columns: repeat(3, 1fr);
			padding-bottom: 120px;
		}
	}
	.products-bottom {
		&__items {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__item {
			margin-bottom: 120px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.design {
		&__items {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
	}
	.articles {
		&::after {
			height: 30%;
		}
		&__content {
			justify-content: space-around;
		}
	}
	.contact {
		padding-top: 60px;
		&__items {
			justify-content: space-around;
			margin-bottom: 30px;
		}
		&__item {
			margin: 0 15px 60px;
		}
		&__form {
			margin: 0 auto 70px;
		}
	}
	.map {
		max-width: 100%;
		height: 350px;
	}
	.experience {
		&__img {
			width: 40%;
		}
	}
	.team {
		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
		&__inner {
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 60px;
		}
		&__items {
			justify-content: space-evenly;
		}
	}
	.product {
		&__filters {
			width: 100%;
			display: none;
			margin-right: 0;
			position: absolute;
			top: 20px;
			left: 0;
			z-index: 15;
			background-color: #fff;
		}
		&__filter {
			width: 100%;
			padding: 0 25px;
		}
		.filter-recent {
			display: none;
		}
		&__filter-btn {
			width: 70px;
			height: 70px;
			border: none;
			padding: 0;
			display: block;
			border-radius: 5px;
			position: fixed;
			right: 20px;
			bottom: 40px;
			z-index: 20;
			background-color: $accent;
			background-repeat: no-repeat;
			background-image: url(../images/icons/filter.svg);
		}
	}
	.product__items {
		grid-template-columns: repeat(2, 1fr);
	}
	.product-detalis {
		&__slider {
			display: flex;
			justify-content: center;
			margin-right: 30px;
		}
	}
	.products__item--detalis {
		margin: 0 30px 40px;
	}
}

@media (max-width: 980px) {
	.top-slider {
		&__about {
			flex-direction: column;
		}
		&__about-item {
			max-width: 100%;
			padding: 25px 0px;
		}
	}
	.products {
		&__items {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
	}
	.footer {
		.footer-top {
			justify-content: space-around;
			&__item {
				padding: 0 15px;
				margin-bottom: 40px;
			}
			&__item-form {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				max-width: 100%;
				width: 100%;
			}
		}
	}
	.articles {
		&::after {
			height: 35%;
		}
	}
	.experience {
		&__top {
			justify-content: center;
			padding: 60px 0;
		}
		&__title,
		&__subtitle {
			margin-bottom: 20px;
		}
		&__text {
			padding-bottom: 40px;
		}
		&__img {
			display: none;
		}
	}
	.team {
		padding-top: 60px;
		&__item {
			margin-bottom: 35px;
		}
		&__item-img {
			width: 320px;
		}
		&__item-box {
			width: 300px;
		}
	}
	.product {
		&__item {
			width: 730px;
			justify-content: space-around;
		}
		&__img {
			max-width: 300px;
		}
		&__box {
			width: 300px;
		}
	}
	.product-detalis {
		padding: 60px 0;
		&__wrapper {
			flex-direction: column;
			align-items: center;
			height: auto;
			margin-bottom: 60px;
		}
		&__slider {
			margin-right: 0;
			margin-bottom: 40px;
		}
	}
	.product-tabs {
		margin-bottom: 60px;
		&__top {
			justify-content: space-around;
		}
		&__top-item {
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 768px) {
	.user-nav {
		&__products {
			margin: 0 10px;
		}
	}
	.top-slider {
		&__inner {
			padding: 80px 0;
		}
	}
	.products {
		&__items {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			padding-bottom: 60px;
		}
	}
	.products-bottom {
		&__item {
			justify-content: center;
			align-items: center;
			margin: 0 0 60px 0;
			height: 265px;
		}
		&__img {
			display: none;
		}
	}
	.footer {
		padding: 40px 0 20px;
		.footer-top {
			padding-bottom: 20px;
		}
		.footer-bottom {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-top: 15px;
			&__copy {
				text-align: center;
				margin-bottom: 15px;
			}
			&__list {
				padding: 0 10px;
			}
		}
	}
	.design {
		&__items {
			margin-bottom: 60px;
		}
		&__video {
			height: 250px;
		}
	}
	.articles {
		&::after {
			height: 25%;
		}
		padding-top: 60px;
		&__title {
			font-size: 30px;
		}
	}
	.personal {
		padding-top: 50px;
		&__title {
			margin-bottom: 25px;
		}
		&__list {
			margin-bottom: 35px;
		}
		&__list-item {
			margin-bottom: 15px;
		}
		&__text {
			margin-bottom: 40px;
		}
	}
	.top {
		&__title {
			font-size: 30px;
		}
	}
	.login {
		padding: 60px 0 0;
	}
	.contact {
		&__form-img {
			width: 100%;
		}
		&__form-img--name {
			margin-right: 0;
			margin-bottom: 30px;
			&::after {
				right: 18px;
			}
		}
		&__form-input {
			width: 100%;
		}
	}
	.experience {
		&__item-title {
			padding-right: 15px;
		}
		&__text {
			&::after {
				width: 450px;
			}
		}
	}
	.product {
		padding-top: 60px;
		&__inner {
			justify-content: center;
		}
		&__item {
			width: 100%;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		&__title,
		&__price,
		&__text,
		&__img,
		.star {
			margin-bottom: 20px;
		}
	}
	.product__items {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 40px 30px;
	}
	.product-detalis {
		&__slider {
			width: 100%;
			height: 400px;
		}
		&__slider-thumb {
			margin-right: 0;
		}
		&__thumb-item {
			max-width: 80px;
			height: 126px;
			margin: 0 30px 20px;
		}

		&__big-item {
			max-width: 330px;
		}
	}
	.product-tabs {
		&__top {
			justify-content: space-around;
		}
	}
}

@media (max-width: 540px) {
	.menu {
		order: 0;
		&__list {
			top: 160px;
		}
	}
	.user-nav {
		width: 100%;
		margin-top: 15px;
		justify-content: flex-end;
		padding-right: 0px;
		&__products {
			width: 160px;
		}
	}
	.top-slider {
		&__inner {
			padding: 60px 0;
		}
		&__item {
			position: relative;
		}
		&__content {
			padding: 15px;
			margin: 0 auto;
		}
		&__title {
			font-size: 45px;
			line-height: 50px;
			margin-bottom: 25px;
		}
		&__text {
			margin-bottom: 30px;
		}
		&__img {
			display: none !important;
		}
		&__about-item {
			padding: 20px 15px;
		}
		&__about-title,
		&__about-text {
			margin-bottom: 10px;
			font-size: 15px;
		}
	}
	.slick-dots {
		position: absolute;
		right: 0;
		bottom: 30px;
	}
	.products {
		padding-top: 30px;
		&__title {
			margin-bottom: 15px;
			line-height: 40px;
			font-size: 30px;
		}
		&__btn {
			padding: 0;
		}
		&__buttons {
			margin-bottom: 35px;
		}
	}
	.products-bottom {
		&__box {
			margin: 0 15px;
		}
		&__item {
			margin-bottom: 40px;
		}
	}
	.footer {
		.footer-top {
			justify-content: space-between;
		}
	}
	.design {
		&__item {
			width: 280px;
		}
		&__title {
			margin-bottom: 15px;
			line-height: 40px;
			font-size: 30px;
		}
		&__btn {
			padding: 0;
		}
		&__buttons {
			width: 100%;
			margin-bottom: 35px;
			justify-content: space-around;
		}
	}
	.articles {
		&::after {
			height: 35%;
		}
		&__content {
			margin-bottom: 40px;
		}
		&__top {
			flex-direction: column;
			align-items: center;
		}
		&__title {
			margin-bottom: 10px;
		}
		&__subtitle {
			width: 85px;
			margin-bottom: 30px;
			padding-right: 0;
			text-align: center;
		}
		&__img {
			object-fit: contain;
		}
		&__content-title {
			padding: 15px 15px 10px;
			&::after {
				width: 230px;
				right: 15px;
			}
		}
		&__news {
			top: 48%;
		}
		&__bottom {
			padding-bottom: 40px;
		}
	}
	.contact {
		&__item {
			margin: 0 0 30px;
		}
	}
	.experience {
		&__top {
			padding: 30px;
		}
		&__title {
			font-size: 30px;
		}
		&__text {
			border-bottom: 2px solid $accent;

			&::after {
				width: 0;
			}
		}
		&__items {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-right: none;
			border-bottom: 2px solid $accent;
			&:last-child {
				border-right: none;
			}
		}
		&__item-title {
			padding-right: 0;
		}
		&__bottom {
			height: auto;
		}
	}
	.team {
		&__item {
			margin-bottom: 20px;
		}
	}
	.product-detalis {
		padding: 60px 0 0;
		&__wrapper {
			margin-bottom: 20px;
		}
		&__slider {
			margin-bottom: 0;
		}
		&__slider-thumb {
			display: none;
		}
		&__slider-big {
			max-width: 210px;
		}
		&__big-item {
			max-width: 210px;
			padding: 10px;
			img {
				width: 265px;
				object-fit: contain;
			}
		}
	}
	.product-info {
		max-width: 530px;
		&__buttons {
			flex-direction: column;
			align-items: center;
		}
		&__btn {
			margin-top: 30px;
		}
	}
	.related-products {
		&__title {
			font-size: 34px;
			margin-bottom: 30px;
		}
	}
	.product-tabs {
		&__top {
			margin-bottom: 10px;
		}
	}
}
