@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
	padding: 40px 0 55px;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
}

.menu {
	&__btn {
		display: none;
	}
	&__list {
		display: flex;
		justify-content: space-between;
	}
	&__list-item + .menu__list-item {
		padding-left: 30px;
	}
	&__list-link {
		padding: 0 2px 1px;
		transition: all 0.3s;
		@extend %rubik-500;
		&:hover {
			color: $accent;
			border-bottom: 1px solid $accent;
		}
		&--plus::after {
			content: "+";
			padding-left: 3px;
		}
	}
	&__list-link--active {
		color: $accent;
		border-bottom: 1px solid $accent;
	}
}

.user-nav {
	display: flex;
	justify-content: space-between;
	&__link {
		width: 50px;
		height: 50px;
		padding: 8px 0 22px;
		border-radius: 50%;
	}
	&__products {
		width: 180px;
		height: 50px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 0 20px;
		background-color: #fcd7b6;
		border-radius: 25px;
		position: relative;
		&__link {
			width: 5px;
		}
	}
	&__num {
		width: 20px;
		height: 20px;
		position: absolute;
		border-radius: 50%;
		background-color: #fff;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
	}
	&__heart {
		top: 5px;
		left: 55px;
	}
	&__cart {
		top: 5px;
		right: 40px;
	}
}

.nav__search {
	background-color: #edf1f4;
}
.nav__menu {
	background-color: #a3bbc8;
}

.footer {
	padding: 80px 0 35px;
	color: #7b7b7b;
	a {
		color: #7b7b7b;
	}
	.footer-top {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		border-bottom: 1px solid #dae4e9;
		padding-bottom: 70px;
		&__item {
			max-width: 200px;
		}
		&__item-form {
			max-width: 270px;
		}
		&__logo {
			padding-bottom: 25px;
			margin-top: -25px;
		}
		&__title {
			margin-bottom: 15px;
			font-size: 16px;
			cursor: pointer;
			transition: all 0.5s;
			color: #1f2044;
			@extend %dmsans-700;
		}
		&__text {
			margin-bottom: 30px;
		}
		&__list-item {
			margin-bottom: 10px;
		}
		&__list-link {
			max-width: 200px;
			font-size: 14px;
		}
		&__form {
			display: flex;
		}
		&__form-input {
			background-color: #fef7f0;
			border: none;
			padding: 12px 10px 12px 15px;
			max-width: 170px;
			width: 100%;
			&::placeholder {
				font-size: 12px;
				color: #234969;
				@extend %dmsans-400;
			}
		}
		&__form-btn {
			background-color: #234969;
			color: #fff;
			border: none;
			cursor: pointer;
		}
	}
	.footer-bottom {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 35px;
		&__nav {
			display: flex;
			flex-wrap: wrap;
		}
		&__list {
			padding: 0 15px;
			border-right: 2px solid #7b7b7b;
			&:last-child {
				border: none;
				padding-left: 15px;
			}
		}
	}
}

.top-slider {
	&__inner {
		padding: 220px 0 280px;
	}
	&__item {
		display: flex !important;
		justify-content: space-around;
		margin-bottom: 5px;
	}
	&__content {
		padding-left: 300px;
	}
	&__title {
		max-width: 410px;
		font-size: 72px;
		line-height: 70px;
		color: #243f4d;
		margin-bottom: 40px;
		@extend %rubik-500;
	}
	&__text {
		max-width: 360px;
		font-size: 18px;
		margin-bottom: 40px;
	}
	&__link {
		display: flex;
		align-items: center;
		width: 200px;
		height: 60px;
		padding-left: 28px;
		position: relative;
		background-color: #a3bbc8;
		font-size: 15px;
		color: #fff;
		@extend %rubik-500;
		&::after {
			content: "";
			width: 25px;
			height: 20px;
			top: 25px;
			right: 20px;
			position: absolute;
			background-image: url(../images/icons/arrows-slider.svg);
			background-repeat: no-repeat;
		}
	}
	&__img {
		align-self: center;
	}
	&__about {
		display: flex;
		&-item {
			max-width: 580px;
			width: 100%;
			display: flex;
			justify-content: center;
			padding: 50px 0 50px;
			background-color: #fef7f0;
			border-right: 1px solid #e8e4df;
			&:last-child {
				border: none;
			}
		}
		&-img {
			padding-right: 25px;
			align-self: flex-start;
		}
		&-title {
			margin-bottom: 15px;
			font-size: 18px;
			color: #414141;
			@extend %dmsans-700;
		}
		&-text {
			margin-bottom: 15px;
			@extend %dmsans-400;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.slick-dots {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(50%);
	display: flex;
	width: 30px;
	li {
		opacity: 50%;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		button {
			width: 30px;
			height: 30px;
			background-color: #fff;
			border-radius: 50%;
			text-align: center;
			border: none;
		}
	}
}

.slick-active {
	opacity: 1 !important;
}

.products {
	padding-top: 70px;
	&__title {
		margin-bottom: 35px;
	}
	&__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		max-width: 375px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 75px;
	}
	&__btn {
		color: #8b8b8b;
		border: none;
		background-color: transparent;
		@extend %dmsans-700;
	}
	&__btn--active {
		color: $title;
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 40px 30px;
		padding-bottom: 185px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 270px;
		height: 370px;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		position: relative;
		overflow: hidden;
		&:hover {
			.products-item__link-box {
				transform: translateY(0);
			}
		}
	}
	&__item-link {
		color: $default;
		@extend %dmsans-500;
	}
	&__price {
		color: $accent;
		@extend %dmsans-700;
	}
}

.products-item {
	&__link-box {
		transition: all 0.5s;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 150px;
		width: 170px;
		height: 50px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-around;
		transform: translateY(400%);
	}
	&__link {
		width: 40px;
		height: 40px;
		background-color: #fff;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		path {
			fill: $default;
		}
		&:hover {
			transform: scale(1.4);
			transition: all 0.3s;
			background-color: $accent;
			path {
				fill: #fff;
			}
		}
	}
}

.products-bottom {
	&__items {
		display: flex;
	}
	&__item {
		display: flex;
		margin-right: 30px;
		max-width: 870px;
		height: 395px;
		width: 100%;
		background-color: #feefe2;
	}
	&__img {
		position: relative;
		bottom: 80px;
		padding-left: 140px;
		object-fit: contain;
	}
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 25px;
	}
	&__title {
		font-size: 26px;
		line-height: 32px;
		margin-bottom: 20px;
		@extend %dmsans-700;
	}
	&__text {
		margin-bottom: 20px;
	}
	&__link {
		width: 180px;
		height: 60px;
		padding: 20px 15px;
		border: 1px solid $accent;
		border-radius: 10px;
		position: relative;
		color: $accent;
		@extend %rubik-500;
		&::after {
			content: "";
			position: absolute;
			top: 25px;
			right: 20px;
			width: 25px;
			height: 10px;
			background-image: url("../images/icons/arrows-bottom.svg");
			background-repeat: no-repeat;
		}
	}
}

.design {
	padding-top: 90px;
	&__title {
		margin-bottom: 35px;
	}
	&__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		width: 375px;
		margin: 0 auto;
		margin-bottom: 75px;
	}
	&__btn {
		color: #8b8b8b;
		border: none;
		background-color: transparent;
		@extend %dmsans-700;
	}
	&__btn--active {
		color: $title;
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		margin-bottom: 120px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		width: 370px;
		height: 250px;
		padding: 30px;
		&:nth-child(1) {
			background-image: url("../images/design/1.png");
		}
		&:nth-child(2) {
			background-image: url("../images/design/2.png");
		}
		&:nth-child(3) {
			background-image: url("../images/design/3.png");
		}
		&:nth-child(4) {
			background-image: url("../images/design/4.png");
		}
		&:nth-child(5) {
			background-image: url("../images/design/5.png");
		}
		&:nth-child(6) {
			background-image: url("../images/design/6.png");
		}
	}
	&__item-title {
		max-width: 175px;
		margin-bottom: 10px;
		font-size: 20px;
		color: $title;
		@extend %dmsans-700;
	}
	&__video {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 500px;
		background-image: url("../images/design/bg.jpg");
	}
	&__play {
		padding: 20px;
	}
}

.articles {
	&.articles--product {
		&::after {
			height: 90%;
		}
	}
	position: relative;
	&.articles--login {
		&::after {
			height: 90%;
		}
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50%;
		z-index: -1;
		background-color: #fef7f0;
	}
	padding-top: 115px;
	&__top {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		color: $title;
	}
	&__title {
		margin-bottom: 40px;
	}
	&__subtitle {
		padding-right: 25px;
		position: relative;
		@extend %dmsans-700;
		&::after {
			content: "";
			width: 7px;
			height: 13px;
			position: absolute;
			top: 8px;
			right: 0;
			background-image: url("../images/articles/arrows.svg");
			background-repeat: no-repeat;
		}
	}
	&__content {
		margin-bottom: 95px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		width: 370px;
		padding: 0 5px;
		margin-bottom: 45px;
		position: relative;
		background-color: #fff;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
	}
	&__content-title {
		padding: 30px 30px 10px;
		font-size: 18px;
		position: relative;
		color: $title;
		@extend %dmsans-500;
		&::after {
			content: "";
			width: 315px;
			height: 1px;
			position: absolute;
			left: 30px;
			bottom: 0;
			background-color: $accent;
		}
	}
	&__news {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 30px;
		position: absolute;
		left: 30px;
		bottom: 150px;
		color: #fff;
		background-color: $accent;
		border-radius: 15px;
	}
	&__box {
		display: flex;
		margin-top: 10px;
		padding-bottom: 10px;
	}
	&__date {
		margin: 0 20px;
	}
	&__bottom {
		padding-bottom: 80px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	&__bottom-img {
		object-fit: contain;
		padding: 0 15px;
		margin-bottom: 30px;
	}
}

.top {
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		height: 130px;
		background-color: #edf1f4;
	}
	&__title {
		font-size: 36px;
		line-height: 24px;
		margin-bottom: 15px;
		color: $title;
	}
}

.personal {
	padding-top: 100px;
	&__title {
		font-size: 24px;
		line-height: 40px;
		margin-bottom: 25px;
		@extend %rubik-500;
	}
	&__list {
		margin-bottom: 65px;
	}
	&__list-item {
		margin-bottom: 20px;
		margin-left: 15px;
	}
	&__text {
		margin-bottom: 70px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.login {
	max-width: 570px;
	padding: 110px 0;
	margin: 0 auto;
	&__label {
		display: block;
		margin-bottom: 35px;
	}
	&__label--checkbox {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 25px;
		padding-bottom: 25px;
		border-bottom: 2px solid #f6f6f6;
		a {
			padding-left: 15px;
		}
	}
	&__input {
		display: block;
		width: 100%;
		height: 60px;
		padding: 0 15px;
		margin-top: 5px;
		border: 2px solid #f6f6f6;
		background-color: #fff;
	}
	&__btn {
		display: block;
		width: 100%;
		height: 60px;
		color: #fff;
		padding: 15px 0;
		border: none;
		cursor: pointer;
		text-align: center;
		font-size: 18px;
		background-color: $accent;
		@extend %rubik-500;
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		font-size: 14px;
	}
	&__link-btn {
		width: 100%;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background-color: #fff;
		border: 2px solid $accent;
		color: $title;
		@extend %rubik-500;
	}
}

.contact {
	padding-top: 110px;
	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__subtitle {
		font-size: 16px;
		line-height: 20px;
		color: #a3bbc8;
		@extend %rubik-500;
	}
	&__title {
		font-size: 35px;
		line-height: 57px;
		margin-bottom: 60px;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 100px;
	}
	&__item {
		max-width: 370px;
		width: 100%;
		height: 390px;
		margin-bottom: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: #fbfbfb;
		&:hover {
			border: 2px solid $accent;
			.contact__img {
				transition: all 0.3s;
				transform: scale(1.3);
				background-color: $accent;
				path {
					fill: #fff;
				}
			}
		}
	}
	&__img {
		width: 80px;
		height: 80px;
		margin-bottom: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		background-color: #fff;
		box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
		path {
			fill: $accent;
		}
	}
	&__item-title {
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 26px;
		color: $title;
		@extend %dmsans-700;
	}
	&__item-subtitle {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
	}
	&__item-text {
		line-height: 30px;
		color: #565872;
		@extend %rubik-500;
	}
	&__item-link {
		line-height: 30px;
		color: #565872;
		@extend %rubik-500;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__form {
		max-width: 620px;
		position: relative;
	}
	&__form-box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	&__form-input {
		width: 300px;
		height: 50px;
		padding: 15px 20px;
		border: none;
		background-color: #fbfbfb;
		position: relative;
		&::placeholder {
			color: #565872;
		}
	}
	&__form-input--name {
		margin-right: 20px;
	}
	&__form-img {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 18px;
			right: 15px;
			width: 15px;
			height: 15px;
			background-repeat: no-repeat;
			background-image: url("../images/icons/user-contact.svg");
		}
	}
	&__form-img--name {
		&::after {
			right: 30px;
		}
	}
	&__form-img--email {
		&::after {
			width: 20px;
			background-image: url("../images/icons/mail__form-contact.svg");
		}
	}
	&__form-img--textarea {
		&::after {
			width: 20px;
			background-image: url("../images/icons/commit-contact.svg");
		}
	}
	&__form-textarea {
		display: block;
		width: 100%;
		height: 175px;
		padding: 15px 20px;
		margin-bottom: 30px;
		resize: none;
		border: none;
		background-color: #fbfbfb;
		&::placeholder {
			color: #565872;
		}
	}
	&__form-btn {
		width: 200px;
		height: 45px;
		background-color: $accent;
		color: #fff;
		border: none;
		border-radius: 15px;
	}
}
.map {
	max-width: 500px;
	width: 100%;
	height: 350px;
}

.experience {
	&__top {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 120px 0;
	}
	&__img {
		object-fit: contain;
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__subtitle {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
	}
	&__subtitle-title {
		display: flex;
		align-items: center;
		width: 150px;
		height: 150px;
		font-size: 140px;
		line-height: 0;
		color: $accent;
		@extend %dmsans-700;
	}
	&__subtitle-text {
		width: 90px;
	}
	&__title {
		margin-bottom: 40px;
		font-size: 36px;
		@extend %dmsans-700;
	}
	&__text {
		max-width: 555px;
		padding-bottom: 50px;
		margin-bottom: 20px;
		position: relative;
		&::after {
			content: "";
			width: 500px;
			height: 2px;
			position: absolute;
			left: 0;
			bottom: 0;
			background-color: $accent;
		}
	}
	&__items {
		max-width: 555px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		display: flex;
		max-width: 180px;
		border-right: 1px solid $accent;
		&:last-child {
			border-right: none;
		}
	}
	&__item-img {
		margin-right: 25px;
	}
	&__item-title {
		padding-right: 25px;
		font-size: 36px;
		line-height: 38px;
		@extend %dmsans-700;
	}
	&__item-subtitle {
		margin-left: 5px;
		color: #4c4c4c;
		@extend %dmsans-700;
	}
	&__bottom {
		height: 320px;
		background-color: #fcd7b6;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}
	&__bottom-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 25px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 30px;
			height: 30px;
			top: 30px;
			right: 60px;
			opacity: 90%;
			border-radius: 50%;
			background-color: #a3bbc8;
		}
		&:nth-child(2) {
			&::after {
				top: 15px;
				right: 50px;
			}
		}
		&:nth-child(3) {
			&::after {
				top: 35px;
				right: 55px;
			}
		}
		&:nth-child(4) {
			&::after {
				top: 35px;
				right: 45px;
			}
		}
	}
	&__bottom-img {
		margin-bottom: 15px;
		margin-left: -15px;
	}
	&__bottom-title {
		font-size: 36px;
		line-height: 32px;
		margin-bottom: 15px;
		@extend %dmsans-700;
	}
	&__bottom-text {
		font-size: 18px;
		@extend %dmsans-700;
	}
}

.team {
	padding-top: 110px;
	&__wrapper {
		display: flex;
	}
	&__inner {
		max-width: 310px;
		margin-right: 50px;
	}
	&__title {
		font-size: 36px;
		line-height: 32px;
		margin-bottom: 30px;
		@extend %dmsans-700;
	}
	&__text {
		margin-bottom: 35px;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 170px;
		height: 50px;
		background-color: #a3bbc8;
		font-size: 15px;
		color: #fff;
		border: none;
		border-radius: 5px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 19px;
			right: 15px;
			width: 15px;
			height: 10px;
			background-image: url("../images/about/team/arrows.svg");
		}
	}
	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	&__item {
		margin-bottom: 50px;
		margin-right: 15px;
	}
	&__item-box {
		width: 330px;
		height: 110px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
		box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
		position: relative;
		bottom: 35px;
	}
	&__item-title {
		font-size: 22px;
		line-height: 26px;
		@extend %dmsans-700;
	}
	&__item-subtitle {
		color: #565872;
	}
	&__item-links {
		width: 95px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-right: 20px;
	}
	&__item-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #f6f6f6;
	}
}

.product {
	padding-top: 110px;
	&__inner {
		display: flex;
	}
	&__inner--item {
		justify-content: center;
	}
	&__filter-btn {
		display: none;
	}
	&__filters {
		width: 280px;
		margin-right: 35px;
	}
	&__filter {
		width: 280px;
		margin-bottom: 60px;
	}
	&__filter-title {
		margin-bottom: 25px;
		position: relative;
		&::after {
			content: "";
			width: 50px;
			height: 2px;
			position: absolute;
			left: 110px;
			bottom: 14px;
			background-color: $accent;
		}
	}
	&__item {
		width: 870px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
		.star {
			margin-bottom: 30px;
			svg {
				height: 20px;
				width: 20px;
			}
		}
	}
	&__img {
		max-width: 370px;
		width: 100%;
		padding: 75px 15px;
		object-fit: contain;
		border: 3px solid #f2f2f2;
	}
	&__box {
		width: 420px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__title {
		margin-bottom: 20px;
		font-size: 40px;
		color: $title;
	}
	&__price {
		margin-bottom: 30px;
		font-size: 30px;
		color: $title;
	}
	&__text {
		margin-bottom: 30px;
	}
	&__btn {
		width: 210px;
		height: 50px;
		color: #fff;
		border: none;
		border-radius: 5px;
		background-color: $accent;
	}
}

.filter-category {
	&__title--brand {
		&::after {
			left: 80px;
		}
	}
	&__label {
		display: block;
		margin-bottom: 15px;
		cursor: pointer;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__input {
		@extend %checkbox-hidden;
		&:checked + .filter-category__checkbox {
			background-color: #edf1f4;
		}
	}
	&__radio {
		@extend %checkbox-hidden;
		&:checked + .filter-category__checkbox {
			background-color: #edf1f4;
			.filter-category__num {
				color: $default;
			}
		}
	}
	&__num {
		color: #b3b3b3;
	}
	&__checkbox {
		display: flex;
		justify-content: space-between;
		padding: 15px 20px;
	}
}

.filter-price {
	&__title {
		&::after {
			left: 70px;
		}
	}
	&__label {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 30px;
	}
	.irs--flat .irs-line {
		top: 13px;
		height: 3px;
		background-color: $accent;
		border-radius: 0;
	}

	.irs--flat .irs-handle {
		top: 5px;
		width: 20px;
		height: 20px;
		cursor: pointer;
		background-color: $accent;
	}

	.irs--flat .irs-handle > i:first-child {
		display: none;
	}

	.irs--flat .irs-bar {
		top: 13px;
		height: 5px;
		background-color: $accent;
	}

	.irs-from,
	.irs-to,
	.irs-single {
		display: none;
	}

	.irs--flat .irs-min,
	.irs--flat .irs-max {
		display: none;
	}

	.irs--flat {
		height: 30px;
	}
}

.filter-recent {
	width: 185px;
	&__title {
		&::after {
			left: 190px;
		}
	}
	&__item {
		height: 70px;
		display: flex;
		margin-bottom: 25px;
	}
	&__content {
		width: 100px;
	}
	&__item-title {
		font-size: 14px;
		color: $title;
	}
	&__img {
		width: 70px;
		object-fit: contain;
		padding: 2px 5px;
		margin-right: 20px;
		border: 3px solid #f2f2f2;
	}
	.star {
		width: 80px;
		padding: 0;
		margin-bottom: 5px;
		svg {
			width: 12px;
			height: 12px;
		}
	}
	&__price {
		font-size: 15px;
		color: $title;
	}
}

.product__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px 30px;
}

.product-detalis {
	padding: 110px 0;
	&__wrapper {
		display: flex;
		height: 530px;
		margin-bottom: 100px;
	}
	&__slider {
		display: flex;
		width: 730px;
		margin-right: 70px;
	}
	&__slider-thumb {
		width: 140px;
		margin-right: 25px;
	}
	&__thumb-item {
		max-width: 140px;
		margin-bottom: 20px;
		height: 160px;
		padding: 5px;
		display: flex !important;
		justify-content: center;
		align-items: center;
		object-fit: contain;
		border: 3px solid #f2f2f2;
	}
	&__slider-big {
		width: 390px;
		height: 530px;
	}
	&__big-item {
		max-width: 390px;
		padding: 65px 80px;
		object-fit: contain;
		border: 3px solid #f2f2f2;
	}
	.slick-list {
		height: 530px !important;
	}
}

.product-info {
	max-width: 540px;
	margin-top: 20px;
	&__title {
		font-size: 40px;
		color: $title;
		margin-bottom: 20px;
	}
	.star {
		margin-bottom: 30px;
		svg {
			width: 18px;
		}
	}
	&__price {
		margin-bottom: 30px;
		font-size: 30px;
		color: $title;
	}
	&__text {
		margin-bottom: 30px;
		color: #243f4d;
	}
	&__num {
		display: flex;
		width: 150px;
		height: 51px;
	}
	&__buttons {
		display: flex;
	}
	&__item-num {
		width: 100%;
	}
	&__btn {
		width: 210px;
		height: 51px;
		margin-bottom: 40px;
		margin-left: 15px;
		color: #fff;
		border: none;
		border-radius: 5px;
		background-color: $accent;
	}
	&__filters-num,
	&__filters-category,
	&__filters-tag {
		margin-bottom: 15px;
		color: #243f4d;
	}
	.jq-number__field input {
		width: 150px;
		height: 50px;
		outline: none;
		color: $title;
		text-align: center;
		border: 1px solid $accent;
	}

	.jq-number {
		padding: 0;
		position: relative;
	}

	.jq-number__spin {
		width: 50px;
		height: 50px;
		position: absolute;
		cursor: pointer;
		top: 50%;
		transform: translateY(-50%);
	}

	.jq-number__spin.minus {
		left: 0;
		border-right: 1px solid $accent;
	}

	.jq-number__spin.plus {
		right: 0;
		border-left: 1px solid $accent;
	}

	.jq-number__spin::after {
		content: "";
		width: 9px;
		height: 1px;
		position: absolute;
		top: 50%;
		left: 20px;
		background-color: $title;
	}

	.jq-number__spin.plus::before {
		content: "";
		width: 1px;
		height: 9px;
		position: absolute;
		top: 21px;
		left: 24px;
		background-color: $title;
	}
}

.product-tabs {
	margin-bottom: 120px;
	&__top {
		margin-bottom: 35px;
		display: flex;
		flex-wrap: wrap;
	}
	&__top-item {
		width: 240px;
		height: 55px;
		display: flex;
		margin-right: 15px;
		justify-content: center;
		align-items: center;
		background-color: #edf1f4;
		@extend %rubik-500;
	}
	&__top-item--active {
		color: #fff;
		background-color: $accent;
	}
	&__content-item {
		display: none;
	}
	&__content-item--active {
		display: block;
	}
}

.related-products {
	&__title {
		margin-bottom: 65px;
		font-size: 36px;
		@extend %dmsans-700;
	}
	&__items {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}
	.products__item {
		margin: 0 30px 40px;
	}
}

@import "media";
