<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Glee</title>
	<link rel="stylesheet" href="css/blog-details.min.css">
</head>

<body>
	{% include 'app/module/_header/_header.html' %}
	<main class="main">
		{% include 'app/module/_top__blog-item/_top__blog-item.html' %}
		{% include 'app/module/_blog-item__content/_blog-item__content.html' %}
		{% include 'app/module/_blog-item__comments/_blog-item__comments.html' %}
		{% include 'app/module/_blog-item__form/_blog-item__form.html' %}
		{% include 'app/module/_articles/_articles.html' %}
	</main>
	{% include 'app/module/_footer/_footer.html' %}
	<script src="js/main.min.js"></script>
</body>

</html>