.comments {
	margin-bottom: 70px;
	&__inner {
		max-width: 850px;
	}
	&__title {
		margin-bottom: 50px;
		font-size: 24px;
	}
	&__item {
		display: flex;
		margin-bottom: 30px;
		border-bottom: 1px solid #e0e0e0;
		&:last-child {
			border-bottom: none;
		}
	}
	&__item--comment {
		margin-left: 130px;
	}
	&__item-img {
		margin-right: 30px;
		object-fit: contain;
		align-self: baseline;
	}
	&__item-top {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 25px;
	}
	&__item-subtitle {
		color: #9e9e9e;
		font-size: 14px;
	}
	&__item-text {
		margin-bottom: 25px;
	}
	&__item-btn {
		padding-bottom: 30px;
		font-size: 14px;
		border: none;

		position: relative;
		background-color: transparent;
		color: $accent;
		&::before {
			content: "";
			width: 25px;
			height: 10px;
			position: absolute;
			top: 10px;
			left: 50px;
			background-image: url("../../images/icons/arrows-bottom__blog.svg");
			background-repeat: no-repeat;
		}
	}
}

@media (max-width: 768px) {
	.comments {
		&__item--comment {
			margin-left: 60px;
		}
		&__item-title {
			padding-right: 30px;
		}
	}
}

@media (max-width: 540px) {
	.comments {
		margin-bottom: 30px;
		&__item {
			flex-direction: column;
		}
	}
}
