.comments-form {
	margin-bottom: 100px;
	&__title {
		margin-bottom: 45px;
		font-size: 24px;
		color: $accent;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__form {
		max-width: 840px;
		width: 100%;
		position: relative;
	}
	&__form-box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	&__form-input {
		width: 400px;
		height: 50px;
		padding: 15px 20px;
		border: 1px solid #e5e5e5;
		position: relative;
		&::placeholder {
			color: #999999;
		}
		&:focus {
			outline: none;
			border: 1px solid $accent;
		}
	}
	&__form-input--name {
		margin-right: 20px;
	}
	&__form-img {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 18px;
			right: 15px;
			width: 15px;
			height: 15px;
			background-repeat: no-repeat;
			background-image: url("../../images/blog-item/form-icons/user-contact.svg");
		}
	}
	&__form-img--name {
		&::after {
			right: 20px;
		}
	}
	&__form-img--email {
		&::after {
			width: 20px;
			background-image: url("../../images/blog-item/form-icons/mail__form-contact.svg");
		}
	}
	&__form-img--textarea {
		&::after {
			width: 20px;
			background-image: url("../../images/blog-item/form-icons/commit-contact.svg");
		}
	}
	&__form-textarea {
		display: block;
		width: 100%;
		height: 120px;
		padding: 15px 20px;
		margin-bottom: 40px;
		resize: none;
		border: 1px solid #e5e5e5;
		&::placeholder {
			color: #999999;
		}
		&:focus {
			outline: none;
			border: 1px solid $accent;
		}
	}
	&__form-btn {
		width: 190px;
		height: 50px;
		background-color: $accent;
		color: #fff;
		border: none;
	}
}

@media (max-width: 980px) {
	.comments-form {
		margin-bottom: 40px;
		&__form-box {
			flex-direction: column;
		}
		&__form-input {
			width: 100%;
			margin-bottom: 20px;
		}
	}
}
